
<form action="/guardaredit" method="POST">
<table>
 </tr>
 <td>
 <input type="hidden" value={{data.id}} name="id">
 <input type="text" value={{data.titulo}} name="txttitulo" required />
 <input type="text" value={{data.lugar}} name="txtlugar" required/>
 <input type="hidden" value={{data.usuarioid}} name="usuarioid">
 <input type="text" value={{data.descripcion}} name="txtdescripcion" required />
  <input type= "submit"  value= "guardar" name="guardaredit" />
                 
</td>
</table>
     </form> 
